<style>
@media screen and (min-width: 750px) and (max-width: 989px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.desktop_padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.desktop_padding_bottom | times: 0.75 | round: 0 }}px;
  }
}
  
@media screen and (max-width: 749px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
}
  
@media screen and (min-width: 990px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.desktop_padding_top }}px;
    padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
  }
}

.contact-icons-container {
  /* max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; */
  text-align: center;
  display: flex;
  align-items: center;
}
.contact-icons-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.contact-icon-item {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
}
  .contact_content {
    width: 100%;
    text-align: left;
}
.contact-icon-item img {
  max-width: 50px;
  margin-right: 10px;
}
.contact-icon-item h4,
.contact-icon-item .h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: currentColor;
  text-decoration: none;
}
.contact-icon-item a, .contact-icon-item p {
  font-size: 14px;
  color: #555;
  text-decoration: underline;
}
.contact-icons-container .section_title {
    max-width: 30%;
    width: 100%;
    margin-right: 15px;
    text-align: left;
}
  .contact-icons-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

@media screen and (max-width: 991px){
  .contact-icons-container {
    align-items: center;
    flex-direction: column;
  }
  .contact-icons-container .section_title {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .contact-icon-item {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  .contact-icon-item:last-child {
      padding-right: 0;
  }
}
@media screen and (max-width: 749px){
  .contact-icons-grid {
    flex-wrap: wrap;
  }
  .contact-icon-item {
    width: 100%;
    max-width: 50%;
    padding-right: 0px;
    min-width: 47%;
  }
  .contact_content  a {
    word-break: break-word;
  }
  .contact-icon-item img {
    max-width: 40px;
    margin-right: 10px;
  }
  .contact-icon-item h4,
  .contact-icon-item .h4 {
    font-size: 15px;
    line-height: normal;
    margin-bottom: 3px;
  }
  .contact-icon-item a  {
    font-size: 12px;
    line-height: normal;
  }
}

@media screen and (max-width: 360px){
  .contact-icon-item {
    width: 100%;
    max-width: 50%;
    padding-right: 0px;
    min-width: 46%;
  }
}
</style>


<section class="section contact-icons-section section-{{ section.id }}-padding">
  <div class="contact-icons-container">
    {% if section.settings.section_title != blank %}
      <div class="section_title">
          <h2 class="h3">{{ section.settings.section_title }}</h2>
      </div>
    {% endif %}
    <div class="contact-icons-grid">
      {% for block in section.blocks %}
        <div class="contact-icon-item">
          {% if block.settings.icon_image %}
            <img src="{{ block.settings.icon_image | img_url: 'master' }}" alt="{{ block.settings.heading }}" height="50px" width="100%" loading="lazy">
          {% endif %}
          <div class="contact_content">
            <p class="h4">{{ block.settings.heading }}</p>
            {% if block.settings.link %}
              <a href="{{ block.settings.link }}">{{ block.settings.subtext }}</a>
            {% else %}
              <p>{{ block.settings.subtext }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Contact Icons",
  "settings": [
            {
          "type": "text",
          "id": "section_title",
          "label": "Title",
          "default": "Title"
        },
    {
        "type": "header",
        "content": "Desktop section spacing"
      },
      {
        "type": "range",
        "id": "desktop_padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Top padding",
        "default": 32
      },
      {
        "type": "range",
        "id": "desktop_padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Bottom padding",
        "default": 32
      },
      {
        "type": "header",
        "content": "Mobile section spacing"
      },
      {
        "type": "range",
        "id": "mobile_padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Top padding",
        "default": 16
      },
      {
        "type": "range",
        "id": "mobile_padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Bottom padding",
        "default": 16
      }
  ],
  "blocks": [
    {
      "type": "contact",
      "name": "Contact Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "subtext",
          "label": "Subtext",
          "default": "Details here"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Icons Section",
      "category": "Custom",
      "blocks": [
        { "type": "contact" },
        { "type": "contact" },
        { "type": "contact" }
      ]
    }
  ]
}
{% endschema %}


